/** These styles are for index.html **/
/** Welcome Section **/

h1.home-heading {
  font-family: var(--main-heading);
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
  top: -90px;
  text-align: center;
}

img.main-image {
  display: block;
  margin: auto;
  width: 100%;
}

p.intro {
  font-family: var(--paragraph-text);
  color: var(--black-color);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.7;
  padding: 10px;
  position: relative;
  top: -70px;
}

/** Popular Exhibitions Section **/

h2 {
  font-family: var(--second-heading);
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

section.popular-exhibitions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 70px;
}

img.image-popular-expo {
  width: 100%;
  margin: auto;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h3 {
  text-align: center;
  font-family: var(--third-heading);
  text-decoration: underline;
  letter-spacing: 1px;
  font-size: 20px;
}

p.popular-text {
  text-align: center;
  font-family: var(--paragraph-text);
  position: relative;
  top: -10px;
}

.cosmo-expo {
  background-color: var(--purple-color-one);
  width: 360px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 50%, 0.5);
}

.bio-med-expo {
  background-color: var(--red-color-one);
  width: 360px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 50%, 0.5);
}

.eco-expo {
  background-color: var(--green-color-one);
  width: 360px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 50%, 0.5);
}

/** CTA Button **/

a.get-involved-btn {
  background-color: var(--blue-color-one);
  font-family: var(--paragraph-text);
  padding: 20px 80px 20px 80px;
  margin-top: 50px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 50%, 0.5);
  color: var(--white-color);
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

a.get-involved-btn:hover {
  box-shadow: 5px 5px 10px hsla(0, 0%, 50%, 0.5);
  background-color: var(--blue-color-two);
}

.get-involved-btn {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 200px;
}

/** Info Section **/

img.info-image {
  width: 100%;
  display: block;
}

p.info-text {
  font-family: var(--paragraph-text);
  color: var(--black-color);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.7;
  padding: 10px;
}

/** Media Queries **/

@media only screen and (min-width: 1080px) {
  section.popular-exhibitions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 70px;
  }
  p.intro {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  h4 {
    text-align: left;
  }
  img.main-image {
    max-width: 90em;
    border-radius: 20px;
  }
  h1.home-heading {
    font-size: 70px;
    top: 10px;
  }
  .home-heading-bg {
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 1440px;
    height: 300px;
    position: relative;
    top: -500px;
    margin: auto;
    border-radius: 15px;
  }
  p.intro {
    color: var(--white-color);
    position: relative;
    top: -700px;
    font-size: 30px;
  }
  .welcome-section {
    margin-bottom: -350px;
  }
  .info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 150px;
  }
  .info-image {
    max-width: 50em;
    border-radius: 15px;
    box-shadow: 10px 10px 10px hsla(0, 0%, 50%, 0.5);
  }
  p.info-text {
    text-align: left;
    position: relative;
    top: 90px;
  }
}
